{% extends "base.html" %}

{% block extrahead %}
<style>
  body {
    padding-top: 70px;
  }
</style>
{% endblock %}

{% block body %}
<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img height="20" src="{{ url_for('static', filename='images/frog.png') }}">
        Leapcardr
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{{ url_for('overview') }}">Overview</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://github.com/russelldavies/leapcardr">About</a></li>
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<div class="container">

  {% for card_id, card in cards.iteritems() %}
  <div class="panel panel-{% if card.status == 'Unblocked' or card.balance > 0 %}primary{% else %}danger{% endif %}">
    <!-- Default panel contents -->
    <div class="panel-heading">Card {{ card.number }} {% if card.label != ''
      %}({{ card.label }}){% endif %}</div>
    <div class="panel-body">
      <p><strong>Balance:</strong> €{{ card.balance }}</p>
      <p><strong>Status:</strong> {{ card.credit_status }}</p>
      <p><a class="btn btn btn-primary" href="{{ url_for('journeys', card_id=card_id) }}" role="button">Journey History &raquo;</a></p>
    </div>
    <!-- List group -->
    <ul class="list-group">
      <li class="list-group-item"><strong>Type:</strong> {{ card.type }}</li>
      <li class="list-group-item"><strong>Auto Topup:</strong> {{ card.auto_topup }}</li>
      <li class="list-group-item"><strong>Initialised:</strong> {{ card.init_date }}</li>
      <li class="list-group-item"><strong>Expires:</strong> {{ card.expiry_date }}</li>
    </ul>
  </div>
  {% endfor %}

</div> <!-- /container -->
{% endblock body %}
